<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="220px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <nz-icon nzType="bank" nzTheme="outline" class="logo-icon" />
      @if (!isCollapsed) {
        <span class="logo-text">Bank App</span>
      }
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <nz-icon nzType="home" />
        <span><a routerLink="/home">My Accounts</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        @if (userId$ | async) {
          <span nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight"
               class="header-user-trigger">
            <nz-icon nzType="user" nzTheme="outline" class="header-user-icon" />
            @if (fullName$ | async; as name) {
              <span class="header-user-name">{{ name }}</span>
            }
          </span>
          <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <ul nz-menu>
              @if (fullName$ | async; as name) {
                <li nz-menu-item [nzDisabled]="true" class="header-user-menu-name">
                  {{ name }}
                </li>
                <li nz-menu-divider></li>
              }
              <li nz-menu-item (click)="switchUser()">
                <nz-icon nzType="logout" style="margin-right:6px" />Sign Out
              </li>
            </ul>
          </nz-dropdown-menu>
        }
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet />
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
